<!DOCTYPE html>
<html>
<body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333; margin: 0; padding: 0;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>주문 취소 #{{ params.display_id }}</title>
    <style type="text/css">
        a { color: inherit !important; text-decoration: none; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important; }
    </style>

    <header>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse: collapse;">
            <tbody>
                <tr>
                    <td align="center" style="padding-top: 80px;">
                        <a href="https://fragile.club">
                            <img width="200px" src="https://fragile.club/new_logo_r_black.png" style="max-width: 100%;">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </header>

    <div style="max-width:600px;margin:20px auto 40px;padding:0 20px;">
        <table width="100%" style="border-collapse: collapse;">
            <tbody>
                <tr>
                    <td align="center">
                        <span style="font-size:16px;font-weight:500;">주문 취소</span>
                    </td>
                </tr>
                <tr style="height:20px;"></tr>
                <tr>
                    <td style="line-height: 18px;">
                        <span style="font-size:12px;">{{ params.customer_name }}님께,<br><br>주문 <strong>#{{ params.display_id }}</strong>이(가) 취소되었음을 알려드립니다.<br><br>결제가 이루어진 경우 원래 결제 수단으로 5~10 영업일 내에 환불 처리됩니다.<br><br>문의사항이 있으시면 <a href="https://fragile.club/support">문의해 주세요</a>.<br><br>다시 찾아주시기를 바랍니다.</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px; margin: 40px auto 0;">
            <tbody>
                <tr height="40px"></tr>
                <tr>
                    <td align="center">
                        <span style="font-size:12px;color:#888888;">
                            ©2025 <a href="https://fragile.club">fragile.club</a> ·
                            <a href="https://fragile.club/support">이용약관 및 개인정보처리방침</a>
                        </span>
                    </td>
                </tr>
                <tr height="10px"></tr>
                <tr>
                    <td align="center">
                        <span style="font-size:12px;color:#888888;">
                            FRGL LLC - FRAGILE, 15757 SW 74th Ave, Tigard, Oregon 97224
                        </span>
                    </td>
                </tr>
                <tr height="10px"></tr>
            </tbody>
        </table>
    </footer>
</body>
</html>