<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>주문 확인 #{{ params.display_id }}</title>
    <style type="text/css">
        a {
            color: inherit !important;
            text-decoration: none;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: #333;
        }
    </style>

    <header>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse: collapse;">
            <tbody>
                <tr>
                    <td align="center" style="padding-top: 80px;">
                        <a href="https://fragile.club"><img width="200px"
                                src="https://fragile.club/new_logo_r_black.png" style="max-width: 100%;"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </header>

    <div style="max-width:600px;margin:20px auto 40px;padding:0 20px;">
        <table width="100%" style="border-collapse: collapse;">
            <tbody>
                <tr>
                    <td align="center"><span style="font-size:16px;font-weight:500;">주문 확인</span></td>
                </tr>
                <tr style="height:20px;"></tr>
                <tr>
                    <td style="line-height: 18px;"><span style="font-size:12px;">
                            {{ params.customer_name }}님께,
                            <br><br>
                            <span>FRAGILE</span>에서 쇼핑해 주셔서 감사합니다. 주문이 처리되면 추적 번호가 포함된 배송 확인 이메일을 보내드리겠습니다.
                            <br><br>
                            아래에서 영수증 및 주문 정보 사본을 확인하실 수 있습니다. 기록을 위해 보관해 주세요.
                            <br><br>
                            주문에 관한 문의사항이 있으시면 <a href="https://fragile.club/support">문의해 주세요</a>.
                        </span></td>
                </tr>
            </tbody>
        </table>

        <table width="100%" style="border-collapse: collapse;">
            <tbody>
                <tr>
                    <td colspan="3"><span style="font-size:12px;font-weight:500;">주문 #{{ params.display_id }}</span>
                    </td>
                </tr>
                <tr style="height:5px;"></tr>
                <tr>
                    <td colspan="3"><span style="font-size:12px;">주문일: {{ params.date_placed }}</span></td>
                </tr>
                <tr style="height:20px;"></tr>
                <tr>
                    <td width="50%" style="vertical-align: top; line-height: 17px;">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td><span style="font-size:12px;font-weight:500;">배송 방법</span></td>
                                </tr>
                                <tr>
                                    <td><span style="font-size:12px;">{% for shipping_method in params.shipping_methods
                                            %}{{ shipping_method.name }}<br>{% endfor %}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="50%" style="vertical-align: top; line-height: 17px;">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td><span style="font-size:12px;font-weight:500;">결제 수단</span></td>
                                </tr>
                                <tr>
                                    <td><span style="font-size:12px;text-transform:capitalize;">{% for payment in
                                            params.payment_collections %}{{ payment.provider_id }}<br>{% endfor
                                            %}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="50%" style="vertical-align: top; line-height: 17px;">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td><span style="font-size:12px;font-weight:500;">배송 주소</span></td>
                                </tr>
                                <tr>
                                    <td><span style="font-size:12px;">
                                            {{ params.shipping_address.first_name }} {{
                                            params.shipping_address.last_name }}<br>
                                            {{ params.shipping_address.address_1 }}<br>
                                            {% if params.shipping_address.address_2 != "" %}{{
                                            params.shipping_address.address_2 }}<br>{% endif %}
                                            {{ params.shipping_address.city }}, {{ params.shipping_address.province
                                            }}<br>
                                            {{ params.shipping_address.country_code }} {{
                                            params.shipping_address.postal_code }}<br>
                                            {{ params.shipping_address.phone }}
                                        </span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="50%" style="vertical-align: top; line-height: 17px;">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td><span style="font-size:12px;font-weight:500;">청구 주소</span></td>
                                </tr>
                                <tr>
                                    <td><span style="font-size:12px;">
                                            {{ params.billing_address.first_name }} {{ params.billing_address.last_name
                                            }}<br>
                                            {{ params.billing_address.address_1 }}<br>
                                            {% if params.billing_address.address_2 != "" %}{{
                                            params.billing_address.address_2 }}<br>{% endif %}
                                            {{ params.billing_address.city }}, {{ params.billing_address.province }}<br>
                                            {{ params.billing_address.country_code }} {{
                                            params.billing_address.postal_code }}<br>
                                            {{ params.billing_address.phone }}
                                        </span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <table width="100%" style="border-collapse: collapse;">
            <tbody>
                <tr style="height:20px;"></tr>
                <tr>
                    <td>
                        {% for item in params.items %}
                        <table width="100%" style="margin-bottom: 20px;border-bottom: 1px solid #eee;">
                            <tbody>
                                <tr>
                                    <td width="18%" style="vertical-align: top; padding-right: 20px;"><img
                                            src="{{ item.thumbnail }}" alt="{{ item.title }}" style="max-width: 100%;">
                                    </td>
                                    <td width="67%" style="vertical-align: top; padding-right: 20px;"><span
                                            style="font-size:12px;">{{ item.title }}<br>사이즈: {{ item.variant_title
                                            }}<br>수량: {{ item.quantity }}</span></td>
                                    <td width="15%" align="right" style="vertical-align: top;"><span
                                            style="font-size:12px;">{{ item.quantity }} x {{ item.unit_price }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

        <table width="100%" style="background-color: #f3f3f3; padding: 20px; border-collapse: collapse;">
            <tbody>
                <tr>
                    <th align="left" colspan="2"><span style="font-size:12px;font-weight:500;">주문 요약</span></th>
                </tr>
                <tr style="height:10px;"></tr>
                <tr>
                    <td><span style="font-size:12px;">소계</span></td>
                    <td align="right"><span style="font-size:12px;">{{ params.subtotal }}</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:12px;">배송비</span></td>
                    <td align="right"><span style="font-size:12px;">{{ params.shipping_subtotal }}</span></td>
                </tr>
                <tr style="height:10px;"></tr>
                <tr>
                    <td><span style="font-size:12px;font-weight:500;">합계</span></td>
                    <td align="right"><span style="font-size:12px;font-weight:500;">{{ params.total }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px; margin: 40px auto 0;">
            <tbody>
                <tr height="40px"></tr>
                <tr>
                    <td align="center"><span style="font-size:12px;color:#888888;">
                            ©2025 <a href="https://fragile.club">fragile.club</a> · <a
                                href="https://fragile.club/support">이용약관 및 개인정보처리방침</a>
                        </span></td>
                </tr>
                <tr height="10px"></tr>
                <tr>
                    <td align="center"><span style="font-size:12px;color:#888888;">FRGL LLC - FRAGILE, 15757 SW 74th
                            Ave, Tigard, Oregon 97224</span></td>
                </tr>
                <tr height="10px"></tr>
            </tbody>
        </table>
    </footer>
</body>